@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.header {
  display: grid;
  grid-template-columns:200px 1fr 179px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: color(black1);
  padding: 16px;
  border-radius: (6px);
  margin-top: 16px;
  text-transform: uppercase;

  &__nav {
    display: flex;
    gap: 32px;

    align-items: center;
    transition: all 0.3s;
    text-transform: uppercase;
    flex: 1;
    justify-content: flex-end;
    padding-right: 44px;

    a {
      color: color(white1);
    }

    &_active {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s;
      padding: 25px 0 35px 0;
    }
  }

  &__logo {
    max-width: 200px;
  }

}





