@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.swiper {
  height: 100%;

  .swiper-pagination {
    width: fit-content !important;
    display: grid;
    left: auto !important;
    right: 15px;
    gap: 6px;
    top: calc(50% - 82px) !important;
    height: fit-content;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      text-align: center;
      right: 15px;
      border-radius: (50%);
      line-height: 20px;
      font-size: 12px;
      background: color(black1);
      border: 1px solid color(white1);
      cursor: pointer;
      margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
      opacity: 1!important;
    }

    .swiper-pagination-bullet-active {
      background-color: color(white1);
      border: 1px solid color(white1);
      opacity: 1;
      margin: 0 2px;
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);

    svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }
  .swiper-slide {
    &.swiper-slide-active{
      box-sizing: (border-box);
      padding: 50px;
      img{
        max-height: 600px;
        height: 600px;
      }
    }
  }
}