@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.text_area_container {
  position: relative;
  transition: all 0.3s;

  .text_area_field {
    max-height: 1000px;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    resize: none;
    width: 100%;
    color: color(black1);
    margin-right: 40px;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid color(chips_bg);
    transition: all 0.3s;

    &::-webkit-scrollbar {
      width: 0;
    }

    &:hover, &:focus {
      border-bottom: 1px solid color(chips_bg_hover);
      transition: all 0.3s;
    }

    &:focus + label {
      transition: all 0.3s;
      top: -10px;
      left: 0;
      font-size: 12px;
    }

    &:not(:placeholder-shown)+label {
      transition: all 0.3s;
      top: -10px;
      left: 0;
      font-size: 12px;
    }
  }

  .label_style {
    color: color(text_area_plh);
    transition: all 0.3s;

    font-weight: 100;
    position: absolute;
    top: 14px;
    left: 0;
    z-index: 1;
  }
}