@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.brief_container {
  padding: 0 40px;

  p {
    font-size: 22px;
    line-height: 1.6;
    max-width: 500px;
  }

  .title_block {
    margin-top: 70px;
    font-size: 30px;
    color: color(black1);
  }

  .item {
    &__input {
      color: color(black1);

      &_error {
        color: color(error);
      }
    }
  }
}