@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.brief_container {
  padding: 0 40px;

  p {
    font-size: 22px;
    line-height: 1.6;
    max-width: 500px;
  }

  .block_item {
    margin-top: 50px;

    .title {
      font-size: 30px;
      margin-bottom: 30px;
      color: color(black1);
    }
    .upload_block{
      margin: 10px 0;
    }
    .contacts_container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 20px;
      row-gap: 40px;
    }
  }


}