@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.progressbar {
  width: 100px;
  height: 100px;

  @include tabletScreen {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 1255px) {
    width: 80px;
    height: 80px;
  }

  @include ipadScreen {
    width: 150px;
    height: 130px;
  }

  &__track {
    fill: transparent;
    stroke-width: 1px;
  }

  &__thumb {
    fill: transparent;
    stroke: color(white);
    stroke-width: 1px;
    transform-origin: center;
    stroke-dasharray: 0 1;
    transform: rotate(180deg);
  }

  text tspan {
    fill: color(white);
  }
}

.email__icon {
  transition: all 0.3s;
  color: #414141;

  path {
    fill: #414141;
  }
}

.arrowDownIcon {
  transform: rotate(90deg);
  transition: all 0.3s;
  color: #414141;

  path {
    fill: #414141;
  }
}

.arrowUpIcon {
  transform: rotate(-90deg);
  transition: all 0.3s;
  color: #414141;

  path {
    fill: #414141;

    .modal__close {
      position: absolute;
      right: 15px;
      top: 18px;
      cursor: pointer;

      &:hover {
        path {
          fill: #212121;
        }
      }

      path {
        fill: grey;
        transition: all 0.2s;
      }
    }
  }
}



