@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.breadcrumbs_container {
  ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    color: color(bredcrumbs_link);
    margin-top: 80px;
    @include phoneScreen {
      margin-top: 50px;
      flex-direction: column;
      gap: 8px;
    }
    li {
      align-items: center;
      display: flex;
      color: color(bredcrumbs_no_link);
      a {
        color: color(bredcrumbs);
        font-size: 14px;
        transition: all 0.3s;
        letter-spacing: 0.025em;
        padding: 6px 0;
        position: relative;
        @include phoneScreen {
          font-size: 12px;
        }
        &:hover {
          color: color(bredcrumbs_hover);
          &::after {
            width: 100%;
            background-color: color(bredcrumbs_hover);
          }
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: color(bredcrumbs);
          transition: width 0.3s;
        }
      }
      span {
        padding: 0 8px;
        svg {
          width: 10px;
          height: 10px;
          position: relative;
          top: 1px;
          path {
            fill: color(bredcrumbs);
          }
        }
      }
    }
  }
}