@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: bgModal;
  animation-duration: 300ms;

  &.black {
    background: rgba(19, 28, 8, 0.8);
    backdrop-filter: blur(3px);
    @include phoneScreen {
      padding: 0 10px;
    }
  }

  &.white {
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    z-index: 10;
  }

  &_head {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 10px 20px;
    position: sticky;
    top: 0;
    background-color: color(white1);
    border-bottom: 1px solid color(border);
    align-items: center;
    z-index: 10;

    &_title {
      font-size: 36px;
      color: color(black1);
      text-transform: uppercase;
      font-weight: 500;
      padding-left: 40px;
    }
  }

  &_close {
    cursor: pointer;

    &:hover {
      svg {
        path {
          fill: color(error);
          transition: all 0.5s;
        }
      }
    }

    svg {
      path {
        fill: color(black1);
        transition: all 0.5s;
      }
    }
  }

  .modal_dialog {
    width: 60%;
    border-radius: 10px;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.3s;
    box-shadow: 0 0 30px rgb(20 20 20 / 30%);

    .modal_header,
    .modal_footer {
      display: flex;
      align-items: flex-start;
    }

    .modal_header {
      padding: 30px 30px 0 30px;
      justify-content: space-between;
    }

    .modal_body {
      overflow: auto;

      .modal_content {
        padding: 20px 20px 30px 20px;
        color: color(dark);
        line-height: 20px;
        @include phoneScreen {
          padding: 20px;
        }
      }

      .no_padding_content {
        padding: 0;
        color: color(dark);
        line-height: 20px;
      }
    }
  }

  .theme {
    &__modal {
      width: 450px;
      background: color(white);
    }

    &__empty_modal {
      width: 80%;
      background: transparent;
      box-shadow: 0 0 0 rgb(0.0 .0 .0);

      .modal_content {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modal_close {
        svg {
          path {
            fill: white;
          }
        }
      }

    }

    &__full_modal {
      max-width: 100%;
      border-radius: 0;
      padding: 0 0 0 0;
      height: 90vh;
      z-index: 100;
      background-color: color(white1);
      border-radius: (10px);

      ::-webkit-scrollbar {
        width: 10px;
        height: 8px;
        background-color: color(chips_bg);
      }
      ::-webkit-scrollbar-thumb {
        background-color: color(chips_bg_hover);
        border-radius: 9em;
        box-shadow: inset 1px 1px 10px color(chips_bg);
      }

      .modal_content {
        height: 100vh;
      }

      @include ipadScreen {
        padding: 30px 0 0 0;
        .modal_content {
          padding: 10px !important;

          .modal_close {
            position: relative !important;
            padding: 10px !important;
            cursor: pointer !important;
          }
        }
      }
    }

    &__freedom_modal {
      max-width: 1920px;
      border-radius: 0;
      padding: 0;
      background: color(white)
    }
  }
}


@keyframes bgModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
