@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.banner_container {
  display: flex;
  gap: 20px;

  .left_banner {
    width: 890px;
    height: 864px;
    background: color(background_gray);
    border-radius: (6px);
    display: flex;
    flex-direction: column;

    .insidePadding {
      padding: 110px 230px 20px 110px;

      .title {
        font-weight: 400;
        font-size: 58px;
        line-height: 60px;
        display: flex;
        justify-content: center;
        letter-spacing: -0.04em;
        color: color(black1);
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .block_orders {
        display: flex;
        word-break: break-all;
        gap: 4px;
        flex-flow: row wrap
      }

      .block_button {
        display: flex;
        height: 100%;
        gap: 12px;
        align-items: flex-end;
      }
    }
  }

  .right_banner {
    flex: 1;
  }
}